:root {
  --primary: #efdf89;
  --bg: #000000;
  --other: rgb(2, 30, 7);
  --classic: #083a0a;

  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 200;
  font-size: 12px;
  /* background-color: #24eb77; */
  background: radial-gradient(circle at center, #24eb77, #94ff9d);
  animation: gradientMove 5s infinite ease-in-out;
  background-size: 200% 200%;
  /* min-height: 6000px; */
  overflow: auto;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 70%;
  margin: 20px auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  /* effect */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10rem;
  border: 1px solid rgba(12, 12, 12, 0.2);
}

.navbar-nav {
  display: flex;
}

.navbar .navbar-logo .Logoss {
  width: 130px;
  height: auto;
  display: block;
  margin-left: 0;
  background-color: var(--classic);
  border-radius: 4rem;
  padding: 0.3rem 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.navbar .navbar-nav a {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6);
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
  transition: 0.3s ease;
  /* background-color: var(--classic); */
  padding: 1rem 1.5rem;
  /* border-radius: 1.2rem; */
  /* box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
  margin: 0.4rem;
}

.navbar .navbar-nav a:hover {
  color: #054718;
  text-shadow: none;
  font-size: 1.1rem;
  transition: 0.3s;
  background-color: rgba(255, 252, 191, 0.4);
  border-radius: 3rem;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0.5rem;
}

.navbar .navbar-extra {
  color: #ecdc81;
  background-color: var(--classic);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin: 0.4rem;
}

.navbar .navbar-extra a:hover {
  color: #b8ad6b;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background: radial-gradient(circle at center, #80bd68, #f9fcee);
  /* animation: gradientMove 5s infinite ease-in-out;  */
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

/* .hero .buletan {
  position: absolute;
  width: 40vw;
  height: 20vw;
  background: radial-gradient(
    circle,
    rgba(85, 21, 21, 0.2) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(0px);
  border-radius: 450px 450px 0 0;
  bottom: 19.7vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.hero .circle-glow {
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 1%,
    rgb(218, 254, 255) 25%
  );
} */

/* .hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
} */

/* .hero .qris {
  display: flex;
  flex-direction: column;
   justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.hero .qris img {
  width: 50%;
}

.hero .qris .deskripsi {
  margin-top: 15px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 0 1rem;
  color: #ffffff;
  background-color: #1c3b2e;
  border-radius: 100px;
  border: 1px solid #000000;
} */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero .content {
  padding: 1.4rem 7%;

  max-width: 60rem;
}

.hero .content h1 {
  font-size: 13em;
  color: #1c3b2e;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5%);
  line-height: 0.85;
  font-family: "Archivo black", sans-serif;
  animation: blurz2 linear;
  animation-timeline: view();
}

.hero .content p {
  font-size: 3rem;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: "Archivo black";
  color: #1c3b2e;
  background-color: #fff59e;
  max-width: 30rem;
  animation: nyempit linear;
  animation-timeline: view();
  overflow: hidden;
  white-space: nowrap;
}

@keyframes nyempit {
  from {
    max-width: 55rem;
    padding-left: 0;
  }

  to {
    max-width: 0;
    padding-left: 2rem;
  }
}

/* .hero .content .judul1 h1 {
  font-size: 9vw;
  font-family: "Archivo black", sans-serif;
  color: #1c3b2e;
  /* margin-left: 10vw; */
/* } */

/* .hero .content .judul2 h1 {
  font-size: 9vw;
  font-family: "Archivo black", sans-serif;
  color: #1c3b2e;
}

.hero .content .judul1 {
  /* margin-left: 8vw; */
/* animation: blurz2 linear;
  animation-timeline: view();
}

.hero .content .judul2 {
  /* margin-left: 38vw; */
/* animation: blurz linear;
  animation-timeline: view();
}  */

@keyframes blurz {
  50% {
    filter: blur(0);
  }
  100% {
    filter: blur(6px);
  }
}

@keyframes blurz2 {
  65% {
    filter: blur(0);
  }
  100% {
    filter: blur(6px);
  }
}

/* @keyframes slideRight {
  from {
    transform: translateX(-160px);
  }
  to {
    transform: translateX(400px);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(-300px);
  }
}

@keyframes slideL {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideR {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* .hero p {
  font-size: 1.6rem;
  margin-top: 3vw;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  /* margin-left: 37.3vw; */
/* max-width: 25vw; */

/* effect */
/* color: #f2f8a1;  */

/* background: rgba(255, 249, 167, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10rem;
  border: 1px solid rgba(12, 12, 12, 0.2);
  box-shadow: 0 0 20px rgba(250, 255, 209, 0.9);
  padding: 0.5vw; */
/* } */

.hero .content .cta {
  display: flex;
  padding: 1.4rem 3rem;
  font-size: 2rem;
  color: #1c3b2e;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  font-weight: 400;
  border-radius: 4rem;

  overflow: hidden;
  width: 14.8rem;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  /* margin-left: 44vw; */
}

.hero .content .cta:hover {
  background-color: #cdffe2;
}

@keyframes animasiku {
  0% {
    scale: 1;
    width: 25%;
  }
  100% {
    scale: 1;
    width: 50%;
    background-color: rgba(11, 88, 24, 0.6);
    color: #efdf89;
  }
}

/* Photo section */

.slider-con {
  display: flex;
  width: 70%;
  overflow: hidden;
  border-radius: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 17rem;
  margin-left: 18rem;
  place-items: center;
  overflow: hidden;
  /* box-shadow: 0 0 50px rgba(255, 255, 255, 1); */
  /* border: 1px solid rgb(255, 255, 255); */
}

.slider {
  display: flex;
  list-style: none;
  animation: slider 70s linear infinite;
  justify-content: center;
  gap: 0;
  line-height: 0;
}

.slider ul {
  flex: 0 0 auto;
}

.slider li {
  margin-right: 1rem;
  margin-left: 1rem;
}

.slider img {
  width: 30vw;
  border-radius: 40px;
  object-fit: cover;
  height: 25vw;
  transition: filter 0.3s ease-in-out;
  filter: brightness(90%);
  filter: saturate(70%);
  cursor: pointer;
}

.slider img:hover {
  filter: brightness(110%);
  filter: saturate(110%);
}

@keyframes slider {
  to {
    transform: translateX(-100%);
  }
}

@keyframes brightness {
  to {
    filter: brightness(1.5);
    filter: saturate(1);
  }
}

/* About section */
.about {
  margin-bottom: 15rem;
  display: flex;
  background-color: #36eb6c;
  border-radius: 10rem;
  place-self: center;
  margin-top: 0rem;
  padding-bottom: 3rem;
  width: 80%;
  height: 70%;
  /* background: linear-gradient(180deg, #ffffff, #158334); */
  background: radial-gradient(circle at center, #c8ffc3, #ffffff);
  animation: gradientMove 5s infinite ease-in-out;
  background-size: 200% 200%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

@keyframes gradientMove {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 70% 30%;
  }
  75% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.about-tittle h2,
.menu-tittle h2 {
  font-size: 17vw;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  /* background: url("../img/dalemnyatittle.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  display: flex;
  color: #1c3b2e;
  gap: 10px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.about-tittle h2 {
  letter-spacing: 13px;
}

.about .row {
  display: flex;
  padding: 2rem 7% 1.4rem;
}

.about .row .about-img {
  flex: 1 1 27rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border-radius: 4rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 2rem;
}

.about .row .about-img video {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: transform 0.5s ease;
  display: block;
}

/* .about .row .about-img:hover video {
  transform: scale(1.2);
} */

.about .row .content {
  flex: 1 1 45rem;
  padding: 0 3rem;
  font-family: "Archivo Black", sans-serif;
  color: #1c3b2e;
}

.about .row .content h3 {
  font-size: 3.5rem;
  margin-bottom: 0rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #1c3b2e;
}

/* Menu Section */

.menu {
  background-color: #45e475;
  padding-top: 4rem;
  /* background-image: url("../img/imgformenu.jpg"); */
  border-radius: 10rem;

  place-self: center;
  width: 80%;
  padding-bottom: 5rem;
  /* background: linear-gradient(180deg, #ffffff, #2be944); */
  background: radial-gradient(circle at center, #f3eba5, #ffffff);
  animation: gradientMove 4s infinite ease-in-out;
  background-size: 300% 300%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

.menu .row p {
  padding-bottom: 2rem;
}

.menu .row img {
  margin-top: 4rem;
}

.menu h2 {
  margin-bottom: 1rem;
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  color: #1c3b2e;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.menu-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.menu .row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu h3 {
  font-family: "Archivo Black", sans-serif;
  color: #1c3b2e;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  padding: 1rem;
  line-height: 0.8;
  background-color: #ceff1c;
}

.menu .row .menu-card {
  background-color: #1c3b2e;
  border-radius: 4rem;
  line-height: 0;
  margin-top: 4rem;
}

.menu .row .menu-card img {
  width: 19vw;
  margin-bottom: 0rem;
  object-fit: cover;
  height: 10vw;
}

.menu .row .menu-card p {
  font-size: 2rem;
  font-weight: 500;
  color: #bfe9d7;

  margin-bottom: 0;
}

/* Contact Section */
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  color: #1c3b2e;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.contact-tittle {
  font-size: 18vw;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  /* background: url("../img/dalemnyatittle.jpg") no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-clip: text; */
  color: #1c3b2e;
  display: flex;
  gap: 10px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.contact .link .btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
  max-width: 25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 30rem;
  margin: auto;
  font-weight: 500;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 2.77rem;
  transition: all 0.3s ease-in-out;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact .link {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact .link .btn:hover {
  box-shadow: 0px 0px 20px #ffffff, 0px 0px 40px #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
  /* background: rgba(255, 255, 255, 0.4); */
  /* border-color: rgba(255, 255, 255, 0.6); */
  /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3); */
  animation: shake 0.3s ease-in-out;
  animation-name: shake;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
    max-width: 20rem;
    font-size: 1.8rem;
  }
}

.contact .banner {
  background-image: url("../img/imgforcnt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 9.6rem;
  margin-top: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column; /* Susun elemen dalam satu kolom */
  justify-content: center; /* Tengahkan vertikal */
  align-items: center; /* Tengahkan horizontal */
  height: 400px; /* Pastikan tinggi cukup untuk efek tengah */
}

.contact .banner h3 {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  align-items: center;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
}

.running-text {
  font-size: 1.3rem;
  padding-block: 0rem;
  color: #1c3b2e;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  user-select: none;
  margin-bottom: 0rem;
  margin-top: 2rem;
  border-block: 1px solid;
}

.running-text ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  /* background-color: #ff7b00; */
  min-width: 100%;
  height: 3rem;

  animation: scroll 20s linear infinite;
}

.running-text:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.running-text .our {
  font-family: "Anton", sans-serif;
}

.running-text .instagram {
  font-family: "Archivo black", sans-serif;
  margin-inline: 4px;
}

/* Footer */
footer {
  background: radial-gradient(circle at center, #fff59e, #ffffff);
  animation: gradientMove 5s infinite ease-in-out;
  background-size: 250% 250%;
  text-align: center;
  padding: 2.7rem 0;
  margin-top: 10rem;
}

footer .social {
  padding: 1rem 0;
  color: #000000;
}

footer .links a {
  color: #000000;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  margin: 0 0.3rem;
  font-size: 1rem;
}

footer .links a:hover {
  color: #b8ad6b;
}

footer .social a:hover {
  color: #b8ad6b;
}

footer .credit p {
  color: #000000;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

footer .credit a {
  color: #b922df;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .running-text ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  .running-text {
    padding-top: 1rem;
  }

  .about .row .about-img {
    height: 42rem;
    object-fit: cover;
    object-position: center;
    flex-wrap: wrap;
  }

  .about .row .about-img video {
    height: 42rem;
    object-fit: cover;
    object-position: center;
    flex-wrap: wrap;
  }
}

/* Tablet */
@media (max-width: 768px) {
  :root {
    --start-pos: 0px;
  }

  .hero .content h1 {
    font-size: 5em;
    color: #1c3b2e;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5%);
    line-height: 0.85;
    font-family: "Archivo black", sans-serif;
    animation: blurz2 linear;
    animation-timeline: view();
  }

  .hero .content p {
    font-size: 2rem;
    text-align: center;

    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: "Archivo black";
    color: #1c3b2e;
    background-color: #fff59e;
    max-width: 30rem;
    animation: nyempit linear;
    animation-timeline: view();
    overflow: hidden;
    white-space: nowrap;
  }

  @keyframes nyempit {
    from {
      max-width: 40rem;
      padding-left: 0;
    }

    to {
      max-width: 0;
      padding-left: 2rem;
    }
  }

  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100%;
    right: -100%;
    background-color: var(--classic);
    width: 98%;
    height: 70%;
    transition: 0.3s;
    border-radius: 10rem;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    /* effect */
    background: rgba(22, 22, 22, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10rem;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }

  .navbar .navbar-logo .Logoss {
    width: 115px;
    height: auto;
    display: block;
    margin-left: 0;
    background-color: var(--classic);
    border-radius: 4rem;
    padding: 0.3rem 1rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }

  .navbar .navbar-extra {
    color: #efdf89;
    background-color: var(--classic);
    padding: 1rem;
    border-radius: 4rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    margin: 0.4rem;
  }

  .navbar .navbar-nav.active {
    right: 5px;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: none;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* .hero .content .judul1 h1 {
    font-size: 13vw;
    font-family: "Archivo black", sans-serif;
    color: #1c3b2e;
  }

  .hero .content .judul2 h1 {
    font-size: 12vw;
    font-family: "Archivo black", sans-serif;
    color: #1c3b2e;
  }

  .hero .content .judul1 {
    margin-left: none;
    animation: blurz2 linear;
    animation-timeline: view();
  }

  .hero .content .judul2 {
    margin-left: none;
    animation: blurz linear;
    animation-timeline: view();
  } */

  @keyframes blurz {
    50% {
      filter: blur(0);
    }
    100% {
      filter: blur(6px);
    }
  }

  @keyframes blurz2 {
    60% {
      filter: blur(0);
    }
    100% {
      filter: blur(6px);
    }
  }

  /* @keyframes slidingR {
    from {
      transform: translateX(-180px);
    }

    to {
      transform: translateX(100px);
    }
  }

  @keyframes slidingL {
    from {
      transform: translateX(400px);
    }

    to {
      transform: translateX(-300px);
    }
  } */
  /* 
  .hero .content .cta {
    display: flex;
    padding: 1.4rem 3rem;
    font-size: 2rem;
    color: #1c3b2e;
    background-color: #fff;
    font-weight: 400;
    border-radius: 4rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    overflow: hidden;
    width: 14.8rem;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    margin-left: 35vw;
    margin-top: 6vw;
  }

  .hero p {
    display: flex;
    font-size: 3vw;
    margin-top: 6vw;
    margin-left: 24vw;
    max-width: 50vw;
    font-weight: 400;
    font-family: "Poppins";

    /* effect */
  /* color: #f2f8a1; */

  /* background: rgba(255, 249, 167, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10rem;
    border: 1px solid rgba(12, 12, 12, 0.2);
    box-shadow: 0 0 20px rgba(250, 255, 209, 0.9);
    padding: 0.5vw; */

  .hero .content {
    padding: 1.4rem 7%;

    max-width: 60rem;
  }

  .about {
    margin-bottom: 10rem;
    margin-top: 0rem;
    width: 85vw;
    border-radius: 7rem;
    margin-top: 0rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
  }

  .about .row {
    flex-wrap: wrap;
    padding: 1rem 7% 1rem;
  }

  .about-tittle h2 {
    letter-spacing: 0px;
  }

  .about .row .about-img video {
    height: 24rem;
    object-fit: cover;
    object-position: center;
    flex-wrap: wrap;
  }

  .about .row .about-img {
    height: 23rem;
    object-fit: cover;
    object-position: center;
    flex-wrap: wrap;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1;
  }

  .about .row .content p {
    text-align: center;
  }

  .about .row .content {
    font-size: 1.6rem;
  }

  .menu {
    background-color: #45e475;
    padding-top: 4rem;
    /* background-image: url("../img/imgformenu.jpg"); */
    border-radius: 7rem;
    flex-wrap: wrap;
    width: 85vw;
  }

  .menu-tittle h2 {
    font-size: 20vw;
  }

  .menu .row {
    display: flex;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;
  }

  .menu h3 {
    font-family: "Archivo Black", sans-serif;
    color: #1c3b2e;
    justify-content: center;
    display: flex;
    font-size: 3rem;

    line-height: 0.8;
  }

  .menu .row .menu-card img {
    width: 50vw;
    object-fit: cover;
    height: 40vw;
  }

  .contact .banner {
    background-image: url("../img/imgforcnt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* Susun elemen dalam satu kolom */
    justify-content: center; /* Tengahkan vertikal */
    align-items: center; /* Tengahkan horizontal */
    height: 200px; /* Pastikan tinggi cukup untuk efek tengah */
  }

  .contact .banner .link {
    padding-top: 2rem;
  }

  .running-text ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .running-text {
    padding-top: 1rem;
  }

  .slider-con {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 9rem 0 0;
    margin-bottom: 9rem;
    place-items: center;
    overflow: hidden;
  }

  .slider {
    display: flex;
    padding: 0;
    list-style: none;
    animation: slider 70s linear infinite;
    justify-content: center;
    gap: 1px;
  }

  .slider ul {
    flex: 0 0 auto;
  }

  .slider li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .slider img {
    width: 60vw;
    border-radius: 20px;
    object-fit: cover;
    height: 50vw;
  }

  .close {
    position: absolute;
    top: 820px;
    right: 230px;
    scale: 2;
    color: white;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-family: "Poppins", sans-serif;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
